/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;

  line-height: 1.4;
  
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  background-color: #ffffff;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}


/* ======================================CSS=Code=========================================== */
/* Mobile */
/* Mobile styles here */

body {
  margin: 0 1rem;
}

/*Basic page structure------------- */
.flex-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
    display: grid;
    row-gap: 1rem;
}

.col {
  position: relative;
}

/* header -------------*/
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 1rem 0 0 0;
  background-color: #ffffff;
}

.metrolics-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #222222;
  text-decoration: none;
  margin-left: 1rem;
}

.nav-menu {
  display: none;
}

.nav-item1 a { background-color: #25C389; }
.nav-item2 a { background-color: #FFB901; } 
.nav-item3 a { background-color: #DE6262; } 
.nav-item4 a { background-color: #19B2DE; }  
.nav-item5 a { background-color: #265787; }

/* banner -------------*/

.grey-background {
  background-image: url("../images/mobile-banner-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 0.1rem;
}

.grey-background .flex-container {
  display:none;
}

/* blog section ------------- */
.blog-image {
  width: 100%;
  height: 100;
  object-fit: cover;
}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 400 / 288;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-date {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.125rem;
  height: 3.375rem;

  background-color: #D8605F;
  color: white;

  padding: 0.5rem 0.75rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-entry-day {
  font-size: 1.25rem;
  line-height: 1;
}

.blog-entry-date {
  font-size: 0.5rem;
  line-height: 1.2;
}

.blog-desc {
  position: absolute;
  inset: auto 0 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #19B2DE;
  color: white;

  padding: 0.5rem 0.75rem;
}

.blog-desc-text {
  display: flex;
  flex-direction: column;
}

.desc-heading {
  font-size: 1.333rem;
}

.desc-tag {
  font-size: 0.917rem
}

.blue-square {
  width: 1.75rem;
  height: 1.75rem;

  background-color: #1596BD;
}

/* Tablet =================================================*/
@media screen and (min-width: 40em) {
  /* tablet styles here */
  
  body {
    margin: 0;
  }

  .main-contents {
    margin: 0 1rem;
  }

 /*table header */
  .page-header {
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 0 0;
  background-color: #ffffff;
  }

  .metrolics-logo {
    margin-bottom: 0.5rem;
    margin-left: 0;
  }

  .nav-menu {
    display: flex;
    width: 100%;
  }

  .nav-item {
    flex: 1;
    text-align: center;       
  }

  .nav-item a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    padding: 2.2rem 2rem 0.8rem 0.2rem;
    font-size: 0.9rem;
  }

  /*table banner------------- */
  .grey-background {
  position: relative;
  width: 100%;
  margin: 0;
  height: 60vh;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/banner 1.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.grey-background .flex-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: absolute;
  bottom: 3.5rem;
  left: 1.7rem;
  z-index: 2;
}

.banner-flag {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.1rem 0;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  width: fit-content;
}

.banner-flag::before {
  content: '';
  position: absolute;
  left: -0.7rem;
  top: 0;
  bottom: 0;
  width: 0.5rem;
  background-color: red;
}

.top-banner-flag::before { background-color: #186AA2; }
.mid-banner-flag::before { background-color: #DE6262; }
.base-banner-flag::before { background-color: #FFB901; }


/* blog section ------------- */
.m-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 292 / 256;
  overflow: hidden;
}

.blog-feature {
  grid-column: 1 / -1;
  aspect-ratio: 600 / 367;
}

}


/* Desktop =================================================*/
@media screen and (min-width: 64em) {
  /* desktop styles here */
  html{
    margin-top: 0;
  }

  body {
    margin: 0 12rem;
  }

  .main-contents {
    margin: 0;
  }
  /* header */
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    align-items: flex-end;
  }
  .metrolics-logo {
    margin-bottom: 0;
  }
  .nav-menu {
    display: flex;
    width: 70%;
  }

  .nav-item {
    font-size: 0.5rem;
    flex: 1;
    text-align: center;
  }

  .nav-item a {
    display: block;
    padding: 3.5rem 2.1rem 1rem 0;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    font-size: 0.7rem;
  }

  /*desktop banner------------- */
  .grey-background {
  position: relative;
  width: 100%;
  margin: 0;
  height: 70vh;
  background-color: #EBEBEB;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/banner 1.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.grey-background .flex-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: absolute;
  bottom: 3.5rem;
  left: 1.7rem;
  z-index: 2;
}

.banner-flag {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.1rem 0;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  width: fit-content;
}

.banner-flag::before {
  content: '';
  position: absolute;
  left: -0.7rem;
  top: 0;
  bottom: 0;
  width: 0.5rem;
  background-color: red;
}

.top-banner-flag::before { background-color: #186AA2; }
.mid-banner-flag::before { background-color: #DE6262; }
.base-banner-flag::before { background-color: #FFB901; }

.banner-imgs {
  display: flex;
  flex-direction: row;
}


/* blog section ------------- */
.l-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 320 / 256;
  overflow: hidden;
}

.blog-feature {
  grid-column: auto;
}


}