/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;

  line-height: 1.4;
  
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}


/* ======================================CSS=Code=========================================== */
/*Basic page structure------------- */


/* Mobile */
/* Mobile styles here */


/* header -------------*/
.page-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-menu {
  display: none;
}

.metrolics-logo {
  width: 150px;
  margin: 0.7rem;
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  }



/* banner -------------*/

.main_banner {
  display: none;
}
/* Intro----------------- */

.main_intro {
  padding: auto 0;
  margin: 1rem;
  text-align: center;
}
.page-intro {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5;
}
.blue-text {
  color: #0078D7;
}

/* services ------------------*/

.main_services  {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem;
  text-align: center;
}
.section-header {
  text-align: center;
  margin-bottom: 0.01rem;
}
.section-header-title {
  font-weight: 300;
  font-size: 2.33rem;
  margin-bottom: 0.25rem;
}
.section-subheading {
  font-weight: 300;
  font-size: 0.92rem;
  margin-top: 0;
  color: #A3A3A3;
}
.services-section {
  display: grid;
  grid-template-rows: 1fr;
  gap: 0.1rem;
}
[class*="-service"] {
  display: grid;
  grid-template-columns: 0.3fr 1fr; 
  grid-template-rows: auto 1fr;      
  align-items: start;
  margin-bottom: 2.5em;
}
.service-image{
  grid-column: 1;
  grid-row: 1/span 2;
  margin-right: 1em;
}
.service-image img {
  width: auto;
  height: auto;
}
.service-title {
  grid-column: 2;
  grid-row: 1;
}
.service-description {
  grid-column: 2;
  grid-row: 2;
  color: #939393;
  font-size: 0.8em;
  margin: 0;
}
h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1em;
}
.service-title,
.service-description {
  text-align: left;
}

/* Tablet =================================================*/
@media (min-width: 48rem) {

/* header -------------*/
.page-header {
   display: grid;
   grid-template-rows: auto 1fr; 
   grid-template-columns: 1fr;   
   justify-items: center;       
   padding: 0;         
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}
.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
.nav-item {
  height: 4rem;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-weight: normal;
  position: relative; 
  padding-bottom: 0.5rem;
  }
.nav-item1 { background-color: #25C389; }
.nav-item2 { background-color: #FFB901; }
.nav-item3 { background-color: #DE6262; }
.nav-item4 { background-color: #1596BD; }
.nav-item5 { background-color: #265787; }

/* baner-------------*/

.main_banner {
    display: block;        
    position: relative;    
    width: 100%;
    height: 60vh;        
    overflow: hidden;
  }
  .banner-image {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;     
    z-index: 1;
  }
  .banner-image img {
    width: auto;
    height: 100%;            
    max-width: 100%;
    object-fit: contain;     
    display: block;
  }
  .banner-flex-container {
    position: absolute;       
    bottom: 12vh;          
    left: 5vh; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 2;
  }
  .banner-flag {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    text-decoration: none;
    font-weight: normal;
    font-size: 1rem;
    white-space: nowrap;
    width: fit-content;
    position: relative;
  }
  .banner-flag::before {
    content: '';
    position: absolute;
    left: -0.4rem;
    top: 0;
    bottom: 0;
    width: 0.5rem;
}


.top-banner-flag::before { background-color: #186AA2; }
.mid-banner-flag::before { background-color: #DE6262; }
.base-banner-flag::before { background-color: #FFB901; }

/* service----------------- */

 .services-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
 }                            
  [class*="-service"] {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 0.5rem;            
    padding: 1rem 0;
  }
  .service-image {
    order: 1; 
    margin: 0 auto;
  }
  .service-title {
    order: 2;  
    text-align: center;
    margin: 0.5rem 0;
  }
  .service-description {
    order: 3; 
    text-align: left;
    color: #939393;
    font-size: 0.9rem;
    width: 100%; 
    margin: 0;
  }
  .service-image img {
    width: 6em; 
    height: auto;
  }



 }

/* desktop =================================================*/
 @media (min-width: 75rem) {

/* header---------- */
.page-header {
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  align-items: center;
  padding: 0;
  margin: 0 16%;
}
.metrolics-logo{
  position: relative;
  left: -6vh;
}
.nav-menu {
  position: relative;
  right: -2vh;
}

/* banner---------- */

.main_banner {
  display: grid;
  grid-template-columns: auto 70% auto;
}
.gray_background1, 
.gray_background2{
  background-color: #e7e7e7;
  display: flex;
  align-items: center;

}

.gray_background1 {
  grid-column: 1;
  grid-row: 1 / span 2;
  justify-content: flex-end;

}
.banner-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.banner-flex-container {
  bottom: 16vh;
}
.gray_background1 img,
.gray_background2 img {
  width: 20%;
  height: auto;
  margin: 2vh;
}


/* Intro------------------------ */

.main_intro {
  margin: 0 20%;
}

/* service---------------------- */
 .services-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 15%;
 }
 .service-description {
    text-align: justify;

  }

 }