/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;

  line-height: 1.4;
  
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  background-color: #ffffff;
}

p {
  margin: 0;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}


/* ======================================CSS=Code=========================================== */
/*Basic page structure------------- */


/* Mobile */
/* Mobile styles here */


/*Basic page structure------------- */
.flex-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
    display: grid;
    row-gap: 1rem;
}

.col {
  position: relative;
}

/* section format and headings -------------*/
.section-format {
  margin-bottom: 4rem;
}

.section-header {
  text-align: center;
  margin-bottom: 3rem;
}

.section-header-title {
  font-weight: 300;
  font-size: 2.33rem;
  margin-bottom: 0.25rem;
}

.section-subheading {
  font-weight: 300;
  font-size: 0.92rem;
  margin-top: 0;
  color: #A3A3A3;
}

/* header -------------*/
.page-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-menu {
  display: none;
}

.metrolics-logo {
  width: 150px;
  margin: 0.7rem;
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  }



/* banner -------------*/

.main_banner {
  display: none;
}
/* Intro----------------- */

.main_intro {
  padding: auto 0;
  margin: 1rem;
  text-align: center;
}
.page-intro {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5;
}
.blue-text {
  color: #0078D7;
}

/* services ------------------*/

.main_services  {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem;
  text-align: center;
}
.section-header {
  text-align: center;
  margin-bottom: 0.01rem;
}
.section-header-title {
  font-weight: 300;
  font-size: 2.33rem;
  margin-bottom: 0.25rem;
}
.section-subheading {
  font-weight: 300;
  font-size: 0.92rem;
  margin-top: 0;
  color: #A3A3A3;
}
.services-section {
  display: grid;
  grid-template-rows: 1fr;
  gap: 0.1rem;
}
[class*="-service"] {
  display: grid;
  grid-template-columns: 0.3fr 1fr; 
  grid-template-rows: auto 1fr;      
  align-items: start;
  margin-bottom: 2.5em;
}
.service-image{
  grid-column: 1;
  grid-row: 1/span 2;
  margin-right: 1em;
}
.service-image img {
  width: auto;
  height: auto;
}
.service-title {
  grid-column: 2;
  grid-row: 1;
}
.service-description {
  grid-column: 2;
  grid-row: 2;
  color: #939393;
  font-size: 0.8em;
  margin: 0;
}
h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1em;
}
.service-title,
.service-description {
  text-align: left;
}

/* blog section ------------- */
.blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 400 / 288;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-date {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.125rem;
  height: 3.375rem;

  background-color: #D8605F;
  color: white;

  padding: 0.5rem 0.75rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-entry-day {
  font-size: 1.25rem;
  line-height: 1;
}

.blog-entry-date {
  font-size: 0.5rem;
  line-height: 1.2;
}

.blog-desc {
  position: absolute;
  inset: auto 0 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #19B2DE;
  color: white;

  padding: 0.5rem 0.75rem;
}

.blog-desc-text {
  display: flex;
  flex-direction: column;
}

.desc-heading {
  font-size: 1.333rem;
}

.desc-tag {
  font-size: 0.917rem
}

.blue-square {
  width: 1.75rem;
  height: 1.75rem;

  background-color: #1596BD;
}

/* portfolio section ------------- */
.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.portfolio-project {
  position: relative;
  width: 100%;
  aspect-ratio: 400 / 256;
  overflow: hidden;
}

.portfolio-project::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(7, 173, 244, 0.659);
  opacity: 0;
  z-index: 1;
}

.portfolio-project:hover::after {
  opacity: 1;
}

.project-desc {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 2;
}

.portfolio-project:hover .project-desc{
 opacity: 1;
}

.img-footer {
  position: absolute;
  inset: auto 0 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 0.75rem;
}

.project-desc-text {
  display: flex;
  flex-direction: column;
  color: white;
}

.hover-blue-square {
  position: absolute;
  bottom: 0.5rem;
  right: 0.75rem;

  width: 1.75rem;
  height: 1.75rem;

  background-color: #1596BD;
}

/* clients section ------------- */
.clients-section {
  display: none;
}

/* footer section ------------- */
.footer-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 1rem 0 1rem;
}

.page-footer {
  background-color: #0E2E4E;
  color: white;

  margin-left: -1rem;
  margin-right: -1rem;
}

.footer-about,
.footer-instagram {
  display: none;
}

/* footer section (ceo intro)------------- */

.footer-section-ceo {
  order: 1;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.ceo-portrait {
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.ceo-intro-divider {
  width: 10rem;
  height: 0.2rem;
  background-color: #FFB901;
  border: none;
  margin: 1.5rem 0;
}

/* footer section (track us!)------------- */
.footer-heading-socials {
  padding-bottom: 0.8rem;
  border-bottom: 2px solid #19B2DE;
  margin-bottom: 1.5rem;
  margin-top: 0;
  position: relative;
}

.footer-heading-socials::after {
  content: "";
  position: absolute;
  left: 2rem;
  bottom: -0.6rem;

  width: 0;
  height: 0;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #19B2DE;
}

.footer-socials {
  order: 2;
  margin-left: 8rem;
}

.socials-links {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.socials-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 0.15rem;
}

.socials-purple {
  background-color: #527CC4;
}

.socials-red {
  background-color: #E46145;
}

.socials-blue{
  background-color: #00B0E2;
}

.socials-pink {
  background-color: #F6679C;
}

.socials-yellow {
  background-color: #FFB901;
}

.newsletter-form {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin-top: 1.5rem;
}

.email-input {
  padding: 0.75rem;
  border: none;
  background-color: #DE6262;
  color: white;
  border-radius: 0.15rem;
  flex: 1;
  width: 100%;
}

.submit-email-button {
  width: 4.5rem;
  background-color: #FFB901;
  border: none;
  border-radius: 0.15rem;
}


/* footer section (mastodon)------------- */
.footer-heading-mastodon {
  color: #19B2DE;
  padding-bottom: 0.8rem;
  border-bottom: 2px solid #FFB901;
  margin-bottom: 1.5rem;
  width: 19rem;
  position: relative;
}

.footer-heading-mastodon::after {
  content: "";
  position: absolute;
  left: 1.5rem;
  bottom: -0.6rem;

  width: 0;
  height: 0;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #FFB901;
}

.footer-mastodon {
  order: 3;
}

.mastodon-messages {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message-post {
  margin-bottom: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-align: justify;
}

.blue-username {
  color: #1BADE6;
}


/* footer section (rainbow svg)------------- */
.colour-strip {
  order: 4;
  margin-top: 1rem;
}

.colour-strip img{
  display: block;
  width: 100%;
  height: auto;
}


/* Tablet =================================================*/
@media (min-width: 40rem) {

/* header -------------*/
.page-header {
   display: grid;
   grid-template-rows: auto 1fr; 
   grid-template-columns: 1fr;   
   justify-items: center;       
   padding: 0;         
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}
.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
.nav-item {
  height: 4rem;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-weight: normal;
  position: relative; 
  padding-bottom: 0.5rem;
  }
.nav-item1 { background-color: #25C389; }
.nav-item2 { background-color: #FFB901; }
.nav-item3 { background-color: #DE6262; }
.nav-item4 { background-color: #1596BD; }
.nav-item5 { background-color: #265787; }

/* baner-------------*/

.main_banner {
    display: block;        
    position: relative;    
    width: 100%;
    height: 60vh;        
    overflow: hidden;
  }
  .banner-image {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;     
    z-index: 1;
  }
  .banner-image img {
    width: auto;
    height: 100%;            
    max-width: 100%;
    object-fit: contain;     
    display: block;
  }
  .banner-flex-container {
    position: absolute;       
    bottom: 12vh;          
    left: 5vh; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 2;
  }
  .banner-flag {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    text-decoration: none;
    font-weight: normal;
    font-size: 1rem;
    white-space: nowrap;
    width: fit-content;
    position: relative;
  }
  .banner-flag::before {
    content: '';
    position: absolute;
    left: -0.4rem;
    top: 0;
    bottom: 0;
    width: 0.5rem;
}
.gray_background1,
.gray_background2 {
  display: none;
}

.top-banner-flag::before { background-color: #186AA2; }
.mid-banner-flag::before { background-color: #DE6262; }
.base-banner-flag::before { background-color: #FFB901; }

/* service----------------- */

 .services-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
 }                            
  [class*="-service"] {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 0.5rem;            
    padding: 1rem 0;
  }
  .service-image {
    order: 1; 
    margin: 0 auto;
  }
  .service-title {
    order: 2;  
    text-align: center;
    margin: 0.5rem 0;
  }
  .service-description {
    order: 3; 
    text-align: left;
    color: #939393;
    font-size: 0.9rem;
    width: 100%; 
    margin: 0;
  }
  .service-image img {
    width: 6em; 
    height: auto;
  }



 }

/* blog section ------------- */
.m-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 292 / 256;
  overflow: hidden;
}

.blog-feature {
  grid-column: 1 / -1;
  aspect-ratio: 600 / 367;
}

/* portfolio section ------------- */
.portfolio-project {
  position: relative;
  width: 100%;
  aspect-ratio: 292 /256;
  overflow: hidden;
}

/* clients section ------------- */
.client-list {
  display: block;
}

.m-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.client {
  background-color: #F3F3F3;
  aspect-ratio: 190 / 128;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.clients-section {
  display: block;
}

/* footer section ------------- */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto auto;
  gap: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.footer-heading-mastodon {
  margin-top: 0;
}

/* footer section (ceo intro)------------- */
.footer-section-ceo {
  margin: 2.5rem 2rem 0 2rem;
  grid-column: 1/7;
  grid-row: 1;
}

.ceo-portrait {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}

.ceo-text {
  margin: 1rem;
}

/* footer section (about us)------------- */
.footer-about {
  order: 2;
  display: block;
  grid-column: 1/4;
  grid-row: 2;
}

.footer-heading-about {
  color: #FFB901;
  padding-bottom: 0.8rem;
  border-bottom: 2px solid #21C183;
  margin-bottom: 1.5rem;
  margin-top: 0;
  position: relative;
}

.footer-heading-about::after {
  content: "";
  position: absolute;
  left: 1.5rem;
  bottom: -0.6rem;

  width: 0;
  height: 0;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #21C183;
}

.footer-about-content {
  margin-bottom: 1.2rem;
}

/* footer section (instagram)------------- */
.footer-instagram {
  order: 3;
  display: block;
  grid-column: 4/7;
  grid-row: 2;
}

.footer-heading-insta {
  color: #DE6262;
  padding-bottom: 0.8rem;
  border-bottom: 2px solid #19B2DE;
  margin-bottom: 1.5rem;
  margin-top: 0;
  position: relative
}

.footer-heading-insta::after {
  content: "";
  position: absolute;
  left: 1.5rem;
  bottom: -0.6rem;

  width: 0;
  height: 0;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #19B2DE;
}

.instagram-posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.instagram-image {
  width: 100%;
  aspect-ratio: 61 / 64;
  object-fit: cover
}

/* footer section (mastodon)------------- */
.footer-mastodon {
  order: 4;
  grid-column: 1/5;
  grid-row: 3;
}

/* footer section (track us)------------- */
.footer-socials {
  order: 5;
  margin-left: 0;
  grid-column: 5/7;
  grid-row: 3;
  overflow: hidden;
}

.newsletter-form {
  width: 100%;
  display: flex;
}


/* footer section (rainbow svg)------------- */
.colour-strip {
  order: 6;
  margin-top: 1rem;
  grid-column: 1/7;
  grid-row: 4;
}

.colour-strip img{
  display: block;
  width: 65%;
  height: auto;
}

/* desktop =================================================*/
 @media (min-width: 64rem) {

/* header---------- */
.page-header {
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  align-items: center;
  padding: 0;
  margin: 0 16%;
}
.metrolics-logo{
  position: relative;
  left: -6vh;
}
.nav-menu {
  position: relative;
  right: -2vh;
}

/* banner---------- */

.main_banner {
  display: grid;
  grid-template-columns: auto 70% auto;
}
.gray_background1, 
.gray_background2{
  background-color: #e7e7e7;
  display: flex;
  align-items: center;

}

.gray_background1 {
  grid-column: 1;
  grid-row: 1 / span 2;
  justify-content: flex-end;

}
.banner-image img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.banner-flex-container {
  bottom: 16vh;
}
.gray_background1 img,
.gray_background2 img {
  width: 20%;
  height: auto;
  margin: 2vh;
}


/* Intro------------------------ */

.main_intro {
  margin: 0 20%;
}

/* service---------------------- */
 .services-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 0.2vh;
 }
 .service-description {
    text-align: justify;

  }

/* blog section ------------- */
.l-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 320 / 256;
  overflow: hidden;
}

.blog-feature {
  grid-column: auto;
}

/* portfolio section ------------- */
.portfolio-project {
  position: relative;
  width: 100%;
  aspect-ratio: 320 / 256;
  overflow: hidden;
}

/* clients section ------------- */
.l-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.client img {
  max-width: 75%;
  max-height: 75%;
  object-fit: contain;
}

/* footer section ------------- */
.page-footer {
  margin-left: -12rem;
  margin-right: -12rem;
  
}

.footer-grid {
  margin-left: 12rem;
  margin-right: 12rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
}

/* footer section (ceo intro)------------- */
.footer-section-ceo {
  grid-column: 1/10;
  grid-row: 1;
}

/* footer section (about us)------------- */
.footer-about {
  grid-column: 1/4;
  grid-row: 2;
}

/* footer section (instagram)------------- */
.footer-instagram {
  order: 3;
  grid-column: 4/7;
  grid-row: 2;
}

.instagram-posts {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* footer section (mastodon)------------- */
.footer-mastodon {
  order: 4;
  grid-column: 7/11;
  grid-row: 2;
}

.footer-heading-mastodon {
  width: 75%;
}

/* footer section (track us)------------- */
.footer-socials {
  order: 5;
  grid-column: 11/13;
  grid-row: 2;
}

.submit-email-button {
  flex-shrink: 0;
  width:30%;
}

/* footer section (rainbow svg)------------- */
.colour-strip {
  order: 6;
  margin-top: 0;
  grid-column: 1/4;
  grid-row: 3;
}

.colour-strip img{
  display: block;
  width: 100%;
  height: auto;
}

}